{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block content %}
    {% block routeName %}<li class="breadcrumb-item active"><a href="{{path('home')}}">Accuel</a></li>{% endblock %}
{% endblock %}
