/*!
 *
 * Copyright 2021, Bionutri.
 * By Ir Djim Ebambe
 */
.navbar-toggler {
    color: #f1003c;
}

.text-uppercase{
    background-color: #f1003c;
}
.bioDign a{
    color: #000000;
}
.imgProduct{
    max-width: 200px;
    height: 200px;
}

.cropped1 {
    width: auto; /* width of container */
    max-height: 300px; /* height of container */
    object-fit: cover;

}

.coupon1{
    max-width: 70%;
}
.coupon2{
    max-width: 30%;
}

.form-check {
    background-color: #f4f8ff;
    padding: 20px 65px;
    margin-top: 7px;
}

.order-summary {
    background-color: #f4f8ff;
    margin-top: 17px;
    padding: 16px;
}
.form-group {
    display: grid !important;

}


@media (min-width: 768px){
    .bd-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 4rem;
        z-index: 1000;
        height: calc(100vh - 4rem);
    }
}

.account-item {
    background-color: #f1f2f6;
    padding: 70px 50px;
}

.account-item a {
    text-transform: uppercase;
    font-size: 13px;
    color: #4b6584;
    font-weight: bold;
}

.account-item a:hover {
    color: #778ca3;
    text-decoration: none;
}


